@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h3 class="titulo">Nosso objetivo!</h3>
    <p>
    <pre class="context">
Nós da <strong>Mulheres Programando</strong> somos uma Cooperativa em parceria com o Banco Carrefour e temos como objetivo
empregar mulheres programadoras que estão em transição de carreira, oferecendo a elas uma oportunidade onde
podem desenvolver e aprimorar suas habilidades técnicas e emocionais.
    </pre>
    </p>
</div>

